/* src/pages/CartPage.css */
.cart-page-container {
  max-width: 1320px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.cart-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.cart-layout {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}

.cart-items-list {
  flex: 2; /* Ocupa 2/3 del espacio */
}

.order-summary {
  flex: 1; /* Ocupa 1/3 del espacio */
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 8px;
}

.summary-title {
  font-size: 1.5rem;
  margin: 0 0 1.5rem 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.summary-row, .summary-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.discount {
  color: #5CB85C;
}

.summary-total {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1.5rem;
  border-top: 1px solid #eee;
  padding-top: 1.5rem;
}

.checkout-btn {
  width: 100%;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1.5rem;
}