/* src/pages/CategoryPage.css */
.category-page-container {
  max-width: 1320px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}

.category-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.category-title span {
  color: #007BFF;
}