/* src/pages/WishlistPage.css */
.wishlist-page-container {
  max-width: 1320px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.wishlist-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.wishlist-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.empty-wishlist {
  text-align: center;
  padding: 4rem 0;
  color: #888;
}

.empty-heart {
  font-size: 8rem;
  font-weight: lighter;
  margin-top: 2rem;
}